@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.navitem:hover {
    background-color: #BD8E8E;
    border-radius: 50px;
}

.topnav a.active {
    background-color: #BD8E8E;
    border-radius: 50px;
  }

.home {
    background-color: #494949;
}

.waste {
    color: #D39494;
}

.learn {
    border: 5px solid #C78D8D;
}
.learn:hover{
    background-color: #C78D8D;
}

.break {
    border: 1px solid #9A6C6C;
}

.whatIs {
    color: #404040;
}

.stats {
    background-color: #D39494;
}
.trybutton {
    border: 3px solid black;
}
.homeSearch {
    background-color: #494949;
}

.pink {
    background-color: #BD8E8E;
}

.grey {
    background-color: grey;
}

.submit {
    background-color: #BD8E8E;
}

.submit:hover {
    cursor: pointer;
}